html, body {
  margin: 0;
  padding: 0;
  background-color: white;
}

@font-face {
    font-family: 'redaction50-Regular';
    src: url(Redaction50-Regular.woff); format('woff'),
    src: url(Redaction50-Regular.woff2); format('woff2'),
}
@font-face {
    font-family: 'redaction50-Bold';
    src: url(Redaction50-Bold.woff); format('woff'),
    src: url(Redaction50-Bold.woff2); format('woff2'),
}
 @font-face {
    font-family: 'redaction100-Regular';
    src: url(Redaction100-Regular.woff); format('woff'),
    src: url(Redaction100-Regular.woff2); format('woff2'),
}
 @font-face {
    font-family: 'redaction20-Regular';
    src: url(Redaction20-Regular.woff); format('woff'),
    src: url(Redaction20-Regular.woff2); format('woff2'),
}

canvas {
  display: block;
}

h1 {
    font-family: redaction50-Regular; sans-serif;
    position: fixed;
    margin-left: 40px;
    margin-top: 40px;
    font-size: 100px;
    line-height: 1;
    color: black;
}

h2 {
    position: absolute;
    display: inline-block;
    bottom: 40px;
    margin-bottom: 0;
    left: 40px;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 35px;
    color: black;
    
}

h3 {
    bottom: 40px;
    position: absolute;
    display: inline-block;
    margin-bottom: 0;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 35px;
    left: 175px;
    color: black;
    
}

h4 {
    position: absolute;
    display: inline-block;
    margin-bottom: 0;
    font-family: redaction20-Regular; sans-serif;
    font-weight: 400;
    font-size: 35px;
    left: 40px;
    top: 300px;
    color: black;
    line-height: 1.1;
    
}

h5 {
    bottom: 40px;
    position: absolute;
    display: inline-block;
    margin-bottom: 0;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 35px;
    left: 425px;
    color: black;
}
        
p1 {
    font-family:redaction20-Regular; sans-serif;
    position: absolute;
    top: 200px;
    width: 50%;
    left: 40px;
    font-size: 40px;
    color: black;
    line-height: 1.1;
    }

.Draw {
    top: 350px;
}

.Word01 {
    top: 450px;
}

a.class1 {
    font-family: redaction100-Regular; sans-serif;
    text-decoration: none;
    bottom: 40px;
    position: absolute;
    font-size: 35px;
    margin-bottom: none;
    left: 40px;
    color: black;
    
}

a.class1:hover {
    font-family: redaction50-Regular; sans-serif;
}

a.class2 {
    bottom: 38.5px;
    position: fixed;
    display: inline-block;
    margin-bottom: 0;
    font-family: redaction100-Regular; sans-serif;
    font-weight: 400;
    font-size: 35px;
    left: 40px;
    color: black;
    text-decoration: none;
}

a.class2:hover {
    font-family: redaction50-Regular; sans-serif;
}

#images {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-gap: 50px;
    background-color: #white;
    color: #444;
    padding-left: 450px;
    padding-top: 50px;
    padding-bottom: 45px;
    margin-right: 3vw;
}

img {
    width: 205px;
    border: 1px solid black;
}

figcaption {
    display: block;
    font-family: redaction50-Regular; sans-serif;
    font-size: 30px;
    color: black;
}

#category {
    font-size: 100px;
    font-family: redaction50-Regular; sans-serif;
    font-weight: 200;
    display: inline-block;
    position: fixed;
    margin-top: 130px;
    margin-left: 40px;
    
}

button {
    outline-style: ;
    background: none;
    border: none;
    font-family: sans-serif;
    position: fixed;
    bottom: 37.5px;
    position: absolute;
    display: inline-block;
    font-weight: 400;
    font-size: 35px;
    left: 190px;
    color: black;
    font-family: redaction100-Regular; sans-serif;
    
}

a.Submit {
    bottom: 38.5px;
    position: absolute;
    display: inline-block;
    margin-bottom: 0;
    font-family: redaction100-regular; sans-serif;
    font-weight: 400;
    font-size: 35px;
    left: 335px;
    color: black;
    text-decoration: none;
}

a.Submit:hover {
    font-family: redaction50-regular, sans-serif;
}

a.archive {
    bottom: 38.5px;
    position: absolute;
    display: inline-block;
    margin-bottom: 0;
    font-family: redaction100-regular; sans-serif;
    font-weight: 400;
    font-size: 35px;
    left: 510px;
    color: black;
    text-decoration: none;
}

a.archive:hover {
    bottom: 38.5px;
    position: absolute;
    display: inline-block;
    margin-bottom: 0;
    font-family: redaction50-regular; sans-serif;
    font-weight: 400;
    font-size: 35px;
    left: 510px;
    color: black;
    text-decoration: none;
}

button:hover {
    cursor: pointer;    
    font-family: redaction50-regular, sans-serif;
}
